apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  # type: NodePort
  type: LoadBalancer
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 8082 # Exposed Port
      targetPort: 80 # containers port
