apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
  annotations:
    kubernetes.io/change-cause: updated version 1.16.1
spec:
  replicas: 3
  selector: #Identifies Pods the deployment should manage
    matchLabels:
      app: nginx
  template: # defines how new Pods will be created
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.16.1
        ports:
        - containerPort: 80
